body,
html {
    height: 100%;
    margin: 0px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: #5354f4; 
}

.navbar {
    background-color: #5354f4;
    overflow: hidden;
}

/*Navigation bar links*/
.navbar a {
  display: block;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  float: left;
  color: white;
}

/*Hovering over navigation bar*/
.navbar a:hover {
  background-color: #faf800;
  color: black;
}

/*Introduction*/
.summary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
    letter-spacing: 4px;
}

.intro {
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
}

/*about section*/

.about h2, p {
    text-align: left;
    padding-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;

}

.about p {
    font-size: 20px;
}

/*contact section*/

.contact h2, ul, li {
    text-align: left;
    padding-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.contact li {
    padding-left: 1%;
}

.contact a {
    border-bottom: dotted;
    text-decoration: none;
}
